.boarder {
    border-style: solid !important;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 80fr;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px , rgba(0, 0, 0, 1) 0 18px 36px -18px ;
}

.image {
    scale: 90% !important;
}

.image:hover {
    scale: 105%  !important;
    border-style: solid !important;
}
